@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap');

* {
    background-color: aquamarine;    
}

#image {
    float: right;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
}

p {
    width: 50%;
    font-size: 25px;
    border-style: dashed;
    border-color: green;
}

.tags {
    display: inline-flex;
    border-style: dashed;
    border-color: yellow;

}

.forms {
    border-style: dashed;
    border-color: red;
    margin: auto;
}

textarea {
    background-color: white;
    font-family:'JetBrains Mono', monospace;
    font-size: 11px;
    border: violet;
    border-style: groove;
    border-width: 10px;
    border-radius: 6px;
    margin:50px 0px 10px 50px;
}
